#### EVALUACIÓN MODULO 2 - SPRINT 2

In [1]:
from IPython.core.interactiveshell import InteractiveShell # Nos permite mostar más de una salida por celda
InteractiveShell.ast_node_interactivity = "all" # Nos permite mostar más de una salida por celda

import requests
import pandas as pd
import numpy as np
import mysql.connector
from geopy.geocoders import Nominatim

1. Utilizando la API extraed toda la información que podáis de ella. La url para hacer las llamadas es:

API_URL = "http://universities.hipolabs.com/search?country=NOMBREPAIS"

In [2]:
class Extraccion:

    def __init__(self):

        self = self
    
    def llamada_api(self, pais):

        self.pais = pais
        
        lista_pais = ['Argentina', 'Canada', 'United States']        

        if pais not in lista_pais:
            
            return "No es posible extraer información del país que solicita"

        else:

            response = requests.get(f'http://universities.hipolabs.com/search?country={pais}')

            response.status_code

            response.reason

            df_pais = pd.json_normalize(response.json())
        
            return df_pais
        

    def union_dataframe(self, lista_dataframes):
        self.lista_dataframes = lista_dataframes
        
        df_unido = pd.concat(lista_dataframes, axis= 0, join = 'outer')
        return df_unido

In [3]:
api = Extraccion()

In [4]:
df_argentina = api.llamada_api("Argentina")
df_argentina.head()

,state-province,domains,name,country,web_pages,alpha_two_code
0,Buenos Aires,[atlantida.edu.ar],Universidad Atlantida Argentina,Argentina,[http://www.atlantida.edu.ar/],AR
1,Buenos Aires,[austral.edu.ar],Universidad Austral Buenos Aires,Argentina,[http://www.austral.edu.ar/],AR
2,Ciudad Autónoma de Buenos Aires,[caece.edu.ar],"Universidad CAECE, Buenos Aires",Argentina,[http://www.caece.edu.ar/],AR
3,Ciudad Autónoma de Buenos Aires,[cema.edu.ar],Instituto Universitario CEMA,Argentina,[http://www.cema.edu.ar/],AR
4,Ciudad Autónoma de Buenos Aires,[iese.edu.ar],Instituto de Enseñanza Superior del Ejército,Argentina,[http://www.iese.edu.ar/],AR

In [5]:
df_usa = api.llamada_api("United States")
df_usa.head()

,state-province,domains,name,country,web_pages,alpha_two_code
0,None,[marywood.edu],Marywood University,United States,[http://www.marywood.edu],US
1,None,[lindenwood.edu],Lindenwood University,United States,[http://www.lindenwood.edu/],US
2,None,[sullivan.edu],Sullivan University,United States,[https://sullivan.edu/],US
3,None,[fscj.edu],Florida State College at Jacksonville,United States,[https://www.fscj.edu/],US
4,None,[xavier.edu],Xavier University,United States,[https://www.xavier.edu/],US

In [6]:
df_canada = api.llamada_api("Canada")
df_canada.head()

,state-province,domains,name,country,web_pages,alpha_two_code
0,Quebec,[cstj.qc.ca],Cégep de Saint-Jérôme,Canada,"[https://www.cstj.qc.ca, https://ccmt.cstj.qc....",CA
1,Ontario,"[lambtoncollege.ca, mylambton.ca]",Lambton College,Canada,[https://www.lambtoncollege.ca],CA
2,Nova Scotia,[acadiau.ca],Acadia University,Canada,[http://www.acadiau.ca/],CA
3,Ontario,[algonquincollege.com],Algonquin College,Canada,[http://www.algonquincollege.com/],CA
4,British Columbia,[ashtoncollege.com],Ashton College,Canada,[http://www.ashtoncollege.com/],CA

In [7]:
#Probamos que el código que hemos creado en el método es válido en caso de que se introduzcan otros países que no están contemplados entre los que nosotros estudiamos aquí
api.llamada_api("Mexico")

'No es posible extraer información del país que solicita'

In [7]:
lista_df = [df_argentina, df_canada, df_usa]

In [8]:
df_unido = api.union_dataframe(lista_df)
df_unido.shape

(2522, 6)

2. Una vez tengáis todos los datos de la API, deberéis realizar una serie de procesos de limpieza, estos incluyen:
   
 - Cambiad los nombres de las columnas para homogeneizarlas, tenemos columnas que tienen - y otras _. Unifícalo para que todo vaya con _.

In [9]:
def cambiar_guion(df):
    """Función que permite sustituir un guion intermedio "-" por uno bajo "_. Recibe un parámetro,
    que es un dataframe."""
    nuevas_col = {col:col.replace("-", "_") for col in df.columns}
    df.rename(columns = nuevas_col,inplace = True)
    return df

In [10]:
cambiar_guion(df_unido)

,state_province,domains,name,country,web_pages,alpha_two_code
0,Buenos Aires,[atlantida.edu.ar],Universidad Atlantida Argentina,Argentina,[http://www.atlantida.edu.ar/],AR
1,Buenos Aires,[austral.edu.ar],Universidad Austral Buenos Aires,Argentina,[http://www.austral.edu.ar/],AR
2,Ciudad Autónoma de Buenos Aires,[caece.edu.ar],"Universidad CAECE, Buenos Aires",Argentina,[http://www.caece.edu.ar/],AR
3,Ciudad Autónoma de Buenos Aires,[cema.edu.ar],Instituto Universitario CEMA,Argentina,[http://www.cema.edu.ar/],AR
4,Ciudad Autónoma de Buenos Aires,[iese.edu.ar],Instituto de Enseñanza Superior del Ejército,Argentina,[http://www.iese.edu.ar/],AR
...,...,...,...,...,...,...
2276,None,[vul.edu],Virginia University of Lynchburg,United States,[https://www.vul.edu/],US
2277,None,[voorhees.edu],Voorhees University,United States,[https://www.voorhees.edu/],US
2278,None,[wvstate.edu],West Virginia State University,United States,[https://www.wvstateu.edu/],US
2279,None,[wileyc.edu],Wiley College,United States,[https://www.wileyc.edu/],US
2280,None,[wssu.edu],Winston-Salem State University,United States,[https://www.wssu.edu/],US


- La columna de domains nos da una información similar a la de web_pages. Eliminad la columna domains.

In [11]:
df_unido.drop(['domains'], axis = 1, inplace=True)

In [12]:
df_unido.head(2)

,state_province,name,country,web_pages,alpha_two_code
0,Buenos Aires,Universidad Atlantida Argentina,Argentina,[http://www.atlantida.edu.ar/],AR
1,Buenos Aires,Universidad Austral Buenos Aires,Argentina,[http://www.austral.edu.ar/],AR

3. Si exploramos la columna de web_pages, nos daremos cuenta que hay universidades, como por ejemplo la Universidad de "Cégep de Saint-Jérôme" de Canadá que en su columna de web_pages tiene más de un valor dentro de la lista. Esto es poco práctico y puede llegar a no tener sentido. el objetivo de este ejericio es que usando el método explode de pandas separéis cada elemento de la lista en una fila nueva.(VER LA DOCUMENTACIÓN)

In [13]:
df_unido = df_unido.explode('web_pages')

In [14]:
#Se observa que ha habido un aumento de las filas de nuestro df, ya que antes había 2522 y ahora, tras el explode, hay 13 más
df_unido.shape

(2535, 5)

4. Una vez hayáis realizado el explode, chequead si tenéis duplicados basándonos unicamente en el nombre de la universidad, en caso de que si, eliminadlos.

In [15]:
df_unido['name'].duplicated().sum()

28

In [16]:
#Se obtiene un df con los duplicados por si acaso, en un futuro, fueran necesarios
df_duplicados = df_unido[df_unido['name'].duplicated()]
df_duplicados.head()

,state_province,name,country,web_pages,alpha_two_code
0,Quebec,Cégep de Saint-Jérôme,Canada,https://ccmt.cstj.qc.ca,CA
0,Quebec,Cégep de Saint-Jérôme,Canada,https://ccml.cstj.qc.ca,CA
48,British Columbia,Langara College,Canada,https://langara.ca/,CA
88,None,St. Mary's University,Canada,https://smu.ca/,CA
164,None,Augusta University,United States,http://www.gru.edu/,US

In [17]:
df_unido.drop_duplicates("name", inplace=True)

In [18]:
#Comprobamos que, efectivamente, se han borrado los duplicados
df_unido['name'].duplicated().sum()

0

5. Si exploramos la columna de state_province veremos que hay universidades cuyo valor para esta columna es None. Cread una función para reemplazar los None por nulos de numpy.

In [19]:
df_unido['state_province'].unique()

array(['Buenos Aires', 'Ciudad Autónoma de Buenos Aires', 'Entre Ríos',
       'Salta', 'Córdoba', 'Mendoza', 'Santa Fé', None,
       'Santiago Del Estero', 'Misiones', 'Catamarca', 'Formosa', 'Jujuy',
       'La Rioja', 'La Pampa', 'San Juan', 'San Luis', 'Tucumán',
       'Quebec', 'Ontario', 'Nova Scotia', 'British Columbia', 'Alberta',
       'Manitoba', 'New Brunswick', 'Saskatchewan',
       'Newfoundland and Labrador', 'Prince Edward Island', 'Yukon',
       'Pennsylvania', 'NV', 'Iowa', 'VA', 'TX', 'Colorado', 'IN', 'CA',
       'South Carolina', 'Washington', 'NY', 'Texas', 'ND', 'MI', 'Ohio',
       'Florida', 'California', 'North Carolina', 'Michigan', 'GA',
       'New York, NY'], dtype=object)

In [20]:
#Corroboramos que hay nulos en la columna que se nos menciona. Obtenemos el porcentaje.
df_unido.isnull().sum()*100/df_unido.shape[0]

state_province    89.110491
name               0.000000
country            0.000000
web_pages          0.000000
alpha_two_code     0.000000
dtype: float64

In [21]:
def reemplazo_none(dataframe):
    """Función que permite reemplazar los elementos None por Nan.Recibe como parámetro el dataframe
    sobre el que se quieren aplicar los cambios."""
    dataframe = dataframe.fillna(value = np.nan, axis=1)
    return dataframe

In [22]:
df_unido = reemplazo_none(df_unido)

In [23]:
df_unido.tail()

,state_province,name,country,web_pages,alpha_two_code
2276,NaN,Virginia University of Lynchburg,United States,https://www.vul.edu/,US
2277,NaN,Voorhees University,United States,https://www.voorhees.edu/,US
2278,NaN,West Virginia State University,United States,https://www.wvstateu.edu/,US
2279,NaN,Wiley College,United States,https://www.wileyc.edu/,US
2280,NaN,Winston-Salem State University,United States,https://www.wssu.edu/,US

In [24]:
#Comprobamos que han desaparecido los "None" como valor único y que, en su lugar, tenemos nan
df_unido['state_province'].unique()

array(['Buenos Aires', 'Ciudad Autónoma de Buenos Aires', 'Entre Ríos',
       'Salta', 'Córdoba', 'Mendoza', 'Santa Fé', nan,
       'Santiago Del Estero', 'Misiones', 'Catamarca', 'Formosa', 'Jujuy',
       'La Rioja', 'La Pampa', 'San Juan', 'San Luis', 'Tucumán',
       'Quebec', 'Ontario', 'Nova Scotia', 'British Columbia', 'Alberta',
       'Manitoba', 'New Brunswick', 'Saskatchewan',
       'Newfoundland and Labrador', 'Prince Edward Island', 'Yukon',
       'Pennsylvania', 'NV', 'Iowa', 'VA', 'TX', 'Colorado', 'IN', 'CA',
       'South Carolina', 'Washington', 'NY', 'Texas', 'ND', 'MI', 'Ohio',
       'Florida', 'California', 'North Carolina', 'Michigan', 'GA',
       'New York, NY'], dtype=object)

6. Después del último cambio, os habréis dado cuenta que tenemos muchos valores nulos dentro de la columna de state_province, por lo que nuestro jefe nos pide que reemplacemos esos nulos por "Unknow". No nos piden ningún método especifico, asi que podremos usar el método que queramos.

In [24]:
def reemplazo_desconocido(dataframe, columna):
    """Función que permite sustituir los Nan por el string "Unknown". Recibe dos parámetros: 
    el dataframe y la columna sobre la que se quiere realizar el cambio. """
    dataframe[columna].fillna("Unkwnon", inplace=True)
    return dataframe

In [25]:
df_unido = reemplazo_desconocido(df_unido, "state_province")

In [26]:
df_unido

,state_province,name,country,web_pages,alpha_two_code
0,Buenos Aires,Universidad Atlantida Argentina,Argentina,http://www.atlantida.edu.ar/,AR
1,Buenos Aires,Universidad Austral Buenos Aires,Argentina,http://www.austral.edu.ar/,AR
2,Ciudad Autónoma de Buenos Aires,"Universidad CAECE, Buenos Aires",Argentina,http://www.caece.edu.ar/,AR
3,Ciudad Autónoma de Buenos Aires,Instituto Universitario CEMA,Argentina,http://www.cema.edu.ar/,AR
4,Ciudad Autónoma de Buenos Aires,Instituto de Enseñanza Superior del Ejército,Argentina,http://www.iese.edu.ar/,AR
...,...,...,...,...,...
2276,Unkwnon,Virginia University of Lynchburg,United States,https://www.vul.edu/,US
2277,Unkwnon,Voorhees University,United States,https://www.voorhees.edu/,US
2278,Unkwnon,West Virginia State University,United States,https://www.wvstateu.edu/,US
2279,Unkwnon,Wiley College,United States,https://www.wileyc.edu/,US
2280,Unkwnon,Winston-Salem State University,United States,https://www.wssu.edu/,US

7. Ahora nuestros jefes nos piden que saquemos las coordenadas de las provincias donde están ubicadas las universidades. Para eso nos piden que usemos la librería de geopy que aprendimos el día del repaso, aquí la documentación. Para desarrollar este ejercicio deberéis:
   - Sacar los valores únicos de la columna state_province.
   - Algunos de los valores que tenemos están con siglas, y deberéis reemplazarlos por lo siguiente:
     - NV: reemplazalo por Nevada
     - IN: reemplazalo por Indianapolis
     - CA: reemplazalo por California
     - VA: reemplazalo por Virginia
     - NY: reemplazalo por New York
     - MI: reemplazalo por Michigan
     - GA: reemplazalo por Georgia
     - ND: reemplazalo por North Dakota

 - Otros valores que tenemos más formateados son y que deberemos reemplazar:
     - New York, NY. Deberéis reemplazarlo por "New York".
     - Buenos Aires', 'Ciudad Autónoma de Buenos Aires'. En este caso deberéis poner en ambos casos "Buenos Aires"

 - Una vez realizados los pasos anteriores, crea una lista con los valores únicos de las provincias de las universidades.
 - Usando la API de geopy, extraed la latitud y la longitud de cada una de las provincias y almacenad los resultados en un dataframe.
 - Una vez que tengáis los datos del ejercicio anterior en un dataframe, unidlo con el de las universidades que hemos sacado de la API.

In [27]:
df_unido['state_province'].unique() #En total hay 50 categorías únicas, se comprueba con un len()

array(['Buenos Aires', 'Ciudad Autónoma de Buenos Aires', 'Entre Ríos',
       'Salta', 'Córdoba', 'Mendoza', 'Santa Fé', 'Unkwnon',
       'Santiago Del Estero', 'Misiones', 'Catamarca', 'Formosa', 'Jujuy',
       'La Rioja', 'La Pampa', 'San Juan', 'San Luis', 'Tucumán',
       'Quebec', 'Ontario', 'Nova Scotia', 'British Columbia', 'Alberta',
       'Manitoba', 'New Brunswick', 'Saskatchewan',
       'Newfoundland and Labrador', 'Prince Edward Island', 'Yukon',
       'Pennsylvania', 'NV', 'Iowa', 'VA', 'TX', 'Colorado', 'IN', 'CA',
       'South Carolina', 'Washington', 'NY', 'Texas', 'ND', 'MI', 'Ohio',
       'Florida', 'California', 'North Carolina', 'Michigan', 'GA',
       'New York, NY'], dtype=object)

In [28]:
# Necesitamos crear un diccionario con los valores únicos originales del dataframe y los nuevos nombres únicos que queremos que reciban para homogeneizarlos

diccionario_nombres = {'Buenos Aires': 'Buenos Aires', 'Ciudad Autónoma de Buenos Aires': 'Buenos Aires', 'Entre Ríos':'Entre Ríos',
       'Salta':'Salta', 'Córdoba': 'Córdoba', 'Mendoza': 'Mendoza', 'Santa Fé': 'Santa Fe', 'Unkwon':'Unkwon',
       'Santiago Del Estero': 'Santiago del Estero', 'Misiones': 'Misiones', 'Catamarca':'Catamarca', 'Formosa':'Formosa', 'Jujuy': 'Jujuy',
       'La Rioja':'La Rioja', 'La Pampa':'La Pampa', 'San Juan': 'San Juan', 'San Luis': 'San Luis', 'Tucumán': 'Tucumán',
       'Quebec': 'Quebec', 'Ontario': 'Ontario', 'Nova Scotia': 'Nova Scotia', 'British Columbia':'British Columbia', 'Alberta':'Alberta',
       'Manitoba':'Manitoba', 'New Brunswick': 'New Brunswick', 'Saskatchewan': 'Saskatchewan',
       'Newfoundland and Labrador': 'Newfoundland and Labrador', 'Prince Edward Island': 'Prince Edward Island', 'Yukon': 'Yukon',
       'Pennsylvania':'Pennsylvania', 'NV': 'Nevada', 'Iowa':'Iowa', 'VA':'Virginia', 'TX': 'Texas', 'Colorado':'Colorado', 'IN': 'Indianapolis', 'CA':'California',
       'South Carolina':'South Carolina', 'Washington':'Washington', 'NY': 'New York', 'Texas':'Texas', 'ND': 'North Dakota', 'MI': 'Michigan', 'Ohio':'Ohio',
       'Florida':'Florida', 'California':'California', 'North Carolina':'North Carolina', 'Michigan':'Michigan', 'GA': 'Georgia',
       'New York, NY': 'New York'}

In [32]:
#Forma simple de realizar el mapeo. No obstante, no respeta el cambio de los nan por "Unknown" y hay que volver a reemplazarlo.
df_unido['state_province'] = df_unido['state_province'].map(diccionario_nombres)

In [29]:
def cambiar_estado(df, columna, diccionario):
    """Función que tiene como objetivo reemplazar los valores únicos de una columna. Recibe tres parámetros:
    el dataframe, la columna sobre la que se quieren cambiar los valores y el diccionario con los nuevos valores asignados."""
    df[columna]=df[columna].map(diccionario)
    df[columna].replace(np.nan, "Unkwnon", inplace=True)
    return df

In [ ]:
df_unido = cambiar_estado(df_unido, "state_province", diccionario_nombres)

In [32]:
df_unido['state_province'].unique() #len() de 45

array(['Buenos Aires', 'Entre Ríos', 'Salta', 'Córdoba', 'Mendoza',
       'Santa Fe', 'Unkwnon', 'Santiago del Estero', 'Misiones',
       'Catamarca', 'Formosa', 'Jujuy', 'La Rioja', 'La Pampa',
       'San Juan', 'San Luis', 'Tucumán', 'Quebec', 'Ontario',
       'Nova Scotia', 'British Columbia', 'Alberta', 'Manitoba',
       'New Brunswick', 'Saskatchewan', 'Newfoundland and Labrador',
       'Prince Edward Island', 'Yukon', 'Pennsylvania', 'Nevada', 'Iowa',
       'Virginia', 'Texas', 'Colorado', 'Indianapolis', 'California',
       'South Carolina', 'Washington', 'New York', 'North Dakota',
       'Michigan', 'Ohio', 'Florida', 'North Carolina', 'Georgia'],
      dtype=object)

 - Una vez realizados los pasos anteriores, crea una lista con los valores únicos de las provincias de las universidades.

In [33]:
unicos_provincia = df_unido['state_province'].unique()
lista_unicos_provincia = list(unicos_provincia)
lista_unicos_provincia

['Buenos Aires',
 'Entre Ríos',
 'Salta',
 'Córdoba',
 'Mendoza',
 'Santa Fe',
 'Unkwnon',
 'Santiago del Estero',
 'Misiones',
 'Catamarca',
 'Formosa',
 'Jujuy',
 'La Rioja',
 'La Pampa',
 'San Juan',
 'San Luis',
 'Tucumán',
 'Quebec',
 'Ontario',
 'Nova Scotia',
 'British Columbia',
 'Alberta',
 'Manitoba',
 'New Brunswick',
 'Saskatchewan',
 'Newfoundland and Labrador',
 'Prince Edward Island',
 'Yukon',
 'Pennsylvania',
 'Nevada',
 'Iowa',
 'Virginia',
 'Texas',
 'Colorado',
 'Indianapolis',
 'California',
 'South Carolina',
 'Washington',
 'New York',
 'North Dakota',
 'Michigan',
 'Ohio',
 'Florida',
 'North Carolina',
 'Georgia']

 - Usando la API de geopy, extraed la latitud y la longitud de cada una de las provincias y almacenad los resultados en un dataframe.

In [35]:
def obtener_coordenadas(lista_unicos_provincia):
    """Función que permite obtener las coordenadas de latitud y longitud de cualquier lugar que se le pase.
    Recibe un parámetro, que es una lista con lugares, sitios, localizaciones."""
    lista_coordenadas = []
    geolocator = Nominatim(user_agent="mi_usuario")
    
    for provincia in lista_unicos_provincia:
        if provincia == "Unkwnon":
            lista_coordenadas.append(("Unkwnon", "Unkwnon"))
        else:
            ubicacion = geolocator.geocode(provincia)
            coordenadas = (ubicacion.latitude, ubicacion.longitude)
            lista_coordenadas.append(coordenadas)
    return lista_coordenadas

In [36]:
lista_coords_final = obtener_coordenadas(lista_unicos_provincia)

In [97]:
lista_coords_final

[(-34.6075682, -58.4370894),
 (-31.6252842, -59.3539578),
 (-25.1076701, -64.3494964),
 (37.8845813, -4.7760138),
 (-34.787093049999996, -68.43818677312292),
 (-30.3154739, -61.1645076),
 ('Unkwnon', 'Unkwnon'),
 (-27.6431016, -63.5408542),
 (-26.737224, -54.4315257),
 (-27.1910825, -67.105374),
 (23.9739374, 120.9820179),
 (-23.3161458, -65.7595288),
 (42.2814642, -2.482804975070473),
 (-37.2314643, -65.3972948),
 (18.465299, -66.116666),
 (-33.2762202, -65.9515546),
 (-26.5643582, -64.882397),
 (52.4760892, -71.8258668),
 (50.000678, -86.000977),
 (45.1960403, -63.1653789),
 (55.001251, -125.002441),
 (55.001251, -115.002136),
 (55.001251, -97.001038),
 (46.500283, -66.750183),
 (55.5321257, -106.1412243),
 (53.8217327, -61.2295532),
 (46.503680700000004, -63.59541096896726),
 (63.000147, -136.002502),
 (40.9699889, -77.7278831),
 (39.5158825, -116.8537227),
 (41.9216734, -93.3122705),
 (37.1232245, -78.4927721),
 (31.2638905, -98.5456116),
 (38.7251776, -105.607716),
 (39.7683331, -86.1583502),
 (36.7014631, -118.755997),
 (33.6874388, -80.4363743),
 (38.8950368, -77.0365427),
 (40.7127281, -74.0060152),
 (31.2638905, -98.5456116),
 (47.6201461, -100.540737),
 (43.6211955, -84.6824346),
 (40.2253569, -82.6881395),
 (27.7567667, -81.4639835),
 (35.6729639, -79.0392919),
 (32.3293809, -83.1137366)]

In [37]:
df_coordenadas = pd.DataFrame({'state_province': lista_unicos_provincia, 'latitude_longitude': lista_coords_final})
df_coordenadas.head(7)

  state_province                         latitude_longitude
0   Buenos Aires                 (-34.6075682, -58.4370894)
1     Entre Ríos                 (-31.6252842, -59.3539578)
2          Salta                 (-25.1076701, -64.3494964)
3        Córdoba                   (37.8845813, -4.7760138)
4        Mendoza  (-34.787093049999996, -68.43818677312292)
5       Santa Fe                 (-30.3154739, -61.1645076)
6        Unkwnon                         (Unkwnon, Unkwnon)

 - Una vez que tengáis los datos del ejercicio anterior en un dataframe, unidlo con el de las universidades que hemos sacado de la API.

In [38]:
df_final = df_unido.merge(df_coordenadas, on = "state_province", how='inner')
df_final.head()

,state_province,name,country,web_pages,alpha_two_code,latitude_longitude
0,Buenos Aires,Universidad Atlantida Argentina,Argentina,http://www.atlantida.edu.ar/,AR,"(-34.6075682, -58.4370894)"
1,Buenos Aires,Universidad Austral Buenos Aires,Argentina,http://www.austral.edu.ar/,AR,"(-34.6075682, -58.4370894)"
2,Buenos Aires,"Universidad CAECE, Buenos Aires",Argentina,http://www.caece.edu.ar/,AR,"(-34.6075682, -58.4370894)"
3,Buenos Aires,Instituto Universitario CEMA,Argentina,http://www.cema.edu.ar/,AR,"(-34.6075682, -58.4370894)"
4,Buenos Aires,Instituto de Enseñanza Superior del Ejército,Argentina,http://www.iese.edu.ar/,AR,"(-34.6075682, -58.4370894)"

In [58]:
def mergear_tablas(df1, df2, columna):
    """Función que sirve para mergear tablas que tienen alguna columna en común. Recibe tres parámetros: los
    dataframes que se quieren unir y la columna por la que se quiere realizar la unión. Este último parámetro es
    de tipo string."""
    df_final = df1.merge(df2, on = columna, how= 'inner' )
    return df_final

In [39]:
#Creamos una lambda para aplicar a la columna que contiene una tupla y se le aplica un pd.Series para poder
# dividir por las diferentes partes/elementos de la tupla [0] y [1]

dividir_col_tupla = lambda col: pd.Series([col[0], col[1]])

In [40]:
# Aplicamos la función lambda a la columna 'latitude_longitude' y expandimos los resultados en dos columnas

df_final[['latitude', 'longitude']] = df_final['latitude_longitude'].apply(dividir_col_tupla)

In [41]:
df_final.head(2)

,state_province,name,country,web_pages,alpha_two_code,latitude_longitude,latitude,longitude
0,Buenos Aires,Universidad Atlantida Argentina,Argentina,http://www.atlantida.edu.ar/,AR,"(-34.6075682, -58.4370894)",-34.607568,-58.437089
1,Buenos Aires,Universidad Austral Buenos Aires,Argentina,http://www.austral.edu.ar/,AR,"(-34.6075682, -58.4370894)",-34.607568,-58.437089

In [42]:
#Eliminamos la columna latitude_longitude, que es una columna tupla, ya que hemos creado dos que nacen de ella y con la misma información
df_final.drop('latitude_longitude', axis = 1, inplace=True)

In [43]:
df_final.head(1)

,state_province,name,country,web_pages,alpha_two_code,latitude,longitude
0,Buenos Aires,Universidad Atlantida Argentina,Argentina,http://www.atlantida.edu.ar/,AR,-34.607568,-58.437089

8. Crea una BBDD en mysql que contenga las siguientes tablas:

- Tabla países: donde encontraremos las siguientes columnas:

    - idestado: primary key, integer, autoincremental
    - nombre_pais: varchar
    - nombre_provincia: varchar
    - latitud: decimal
    - longitud: decimal


- Tabla universidades: donde encontraremos las siguientes columnas:
  
    - iduniversidades: primary key, integer, autoincremental
    - nombre_universidad: varchar
    - pagina_web: varchar
    - paises_idestado: foreing key

In [50]:
def crear_bbdd(nombre_bbdd):

    mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password="AlumnaAdalab", 
      auth_plugin = 'mysql_native_password') 
    print("Conexión realizada con éxito")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [51]:
mydb = crear_bbdd("universidades")

Conexión realizada con éxito
CMySQLCursor: CREATE DATABASE IF NOT EXISTS universida..

In [52]:
def crear_insertar_tabla(nombre_bbdd, contraseña, query):
    
    
    cnx = mysql.connector.connect(user='root', password=f"{contraseña}",
                                     host='127.0.0.1', database=f"{nombre_bbdd}",  
                                     auth_plugin = 'mysql_native_password')
    
    mycursor = cnx.cursor()
    
    
    try: 
        mycursor.execute(query)
        cnx.commit() 
    
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [53]:
tabla_paises = '''
CREATE TABLE IF NOT EXISTS `universidades`.`paises` (
  `idestado` INT NOT NULL AUTO_INCREMENT,
  `nombre_pais` VARCHAR(45) NULL,
  `nombre_provincia` VARCHAR(45) NULL,
  `latitud` DECIMAL NULL,
  `longitud` DECIMAL NULL,
  PRIMARY KEY (`idestado`))
ENGINE = InnoDB;
'''

In [54]:
tabla_universidades = '''
CREATE TABLE IF NOT EXISTS `universidades`.`universidades` (
  `iduniversidades` INT NOT NULL AUTO_INCREMENT,
  `nombre_universidad` VARCHAR(45) NULL,
  `pagina_web` VARCHAR(45) NULL,
  `paises_idestado` INT NOT NULL,
  PRIMARY KEY (`iduniversidades`),
  INDEX `fk_universidades_paises_idx` (`paises_idestado` ASC) VISIBLE,
  CONSTRAINT `fk_universidades_paises`
    FOREIGN KEY (`paises_idestado`)
    REFERENCES `universidades`.`paises` (`idestado`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;
'''

In [55]:
crear_insertar_tabla("universidades","AlumnaAdalab", tabla_paises)

In [56]:
crear_insertar_tabla("universidades","AlumnaAdalab", tabla_universidades)

9. Introduce todo el código que habéis ido creando en funciones, siguiendo la misma lógica que hemos seguido en los pairs

In [ ]:
##APARECEN EXPLICADAS Y REFERENCIADAS A LO LARGO DEL JUPYTER

10. BONUS:
    
    - Introduce los datos en la BBDD de SQL.
    - Crea una clase con todo el código generado en esta evaluación.

- Crea clase con el código generado:

In [57]:
class Extraccion:
    """
    Clase que contiene diferentes métodos para llamar a la api y unir los diferentes dataframes
    obtenidos de la previa llamada.
    """

    def __init__(self):

        self = self
    
    def llamada_api(self, pais):
        """Primer método que recibe como parámetro el nombre del país del que se quiere
        obtener información de la API. El parámetro es de tipo string.
        """

        self.pais = pais
        
        lista_pais = ['Argentina', 'Canada', 'United States']        

        if pais not in lista_pais:
            
            return "No es posible extraer información del país que solicita"

        else:

            response = requests.get(f'http://universities.hipolabs.com/search?country={pais}')

            response.status_code

            response.reason

            df_pais = pd.json_normalize(response.json())
        
            return df_pais
        

    def union_dataframe(self, lista_dataframes):
        """Segundo método que recibe como parámetro una lista de dataframes para unir."""
        
        self.lista_dataframes = lista_dataframes
        
        df_unido = pd.concat(lista_dataframes, axis= 0, join = 'outer')
        return df_unido

In [9]:
class Limpieza:
    """Clase que tiene como objetivo la limpieza y procesado
     de algunos cambios aplicados al dataframe"""
    def __init__(self):

        self = self
    
    def cambiar_guion(dataframe):
        """Método que permite sustituir un guion intermedio "-" por uno bajo "_. Recibe un parámetro,
    que es un dataframe."""
        nuevas_col = {col:col.replace("-", "_") for col in df.columns}
        dataframe.rename(columns = nuevas_col,inplace = True)
        return dataframe
    
    def reemplazo_none(dataframe):
        """Método que permite reemplazar los elementos None por Nan.Recibe como parámetro el dataframe
    sobre el que se quieren aplicar los cambios."""
        dataframe = dataframe.fillna(value = np.nan, axis=1)
        return dataframe 
    
    def reemplazo_desconocido(dataframe, columna):
        """Método que permite sustituir los Nan por el string "Unknown". Recibe dos parámetros: 
    el dataframe y la columna sobre la que se quiere realizar el cambio. """
        dataframe[columna].fillna("Unkwnon", inplace=True)
        return dataframe
    
    def cambiar_estado(dataframe, columna, diccionario):
        """Método que tiene como objetivo reemplazar los valores únicos de una columna. Recibe tres parámetros:
    el dataframe, la columna sobre la que se quieren cambiar los valores y el diccionario con los nuevos valores asignados."""
        dataframe[columna]=dataframe[columna].map(diccionario)
        dataframe[columna].replace(np.nan, "Unkwnon", inplace=True)
        return dataframe
    
    def obtener_coordenadas(lista_unicos_provincia):
        """Método que permite obtener las coordenadas de latitud y longitud de cualquier lugar que se le pase.
    Recibe un parámetro, que es una lista con lugares, sitios, localizaciones."""
        lista_coordenadas = []
        geolocator = Nominatim(user_agent="mi_usuario")
        
        for provincia in lista_unicos_provincia:
            if provincia == "Unkwnon":
                lista_coordenadas.append(("Unkwnon", "Unkwnon"))
            else:
                ubicacion = geolocator.geocode(provincia)
                coordenadas = (ubicacion.latitude, ubicacion.longitude)
                lista_coordenadas.append(coordenadas)
        return lista_coordenadas
    
    def mergear_tablas(dataframe1, dataframe2, columna):
        """Método que sirve para mergear tablas que tienen alguna columna en común. Recibe tres parámetros: los
    dataframes que se quieren unir y la columna por la que se quiere realizar la unión. Este último parámetro es
    de tipo string."""
        df_final = dataframe1.merge(dataframe2, on = columna, how= 'inner' )
        return df_final

In [146]:
class Bbdd():
        """Clase que cuenta con métodos enfocados en la creación de BBDD, creación de tablas e 
        inserción de datos en la misma, así como diferentes métodos para poder extraer los id que son clave foránea
        y que la inserción de los datos se realice satisfactoriamente."""

        def __init__(self, nombre_bbdd, contraseña):
                
                """Método constructor, que va a recibir dos parámetros que son fijos a lo largo de toda la BBDD,
          el nombre de la BBDD y la contraseña con el servidor."""
        
                self.nombre_bbdd = nombre_bbdd
                self.contraseña = contraseña


        def crear_bbdd(self):
         
         """Primer método. Sirve para crear la BBDD. No recibe parámetros"""

                mydb = mysql.connector.connect(
                                        host="localhost",
                                        user="root",
                                        password="AlumnaAdalab", 
                                        auth_plugin = 'mysql_native_password') 
                print("Conexión realizada con éxito")
                
                mycursor = mydb.cursor()

                try:
                        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {self.nombre_bbdd};")
                        print(mycursor)
                except mysql.connector.Error as err:
                        print(err)
                        print("Error Code:", err.errno)
                        print("SQLSTATE", err.sqlstate)
                        print("Message", err.msg)
                        

        def crear_insertar_tabla(self, query):

                """"Segundo método. Tiene como objetivo la creación de tabla, así como la inserción de datos en la misma.
                Recibe un parámetro, la query que queramos realizar, sea de creación o de inserción.
                """

                self.query = query
    
                cnx = mysql.connector.connect(user='root', password=f"{self.contraseña}",
                                                host='127.0.0.1', database=f"{self.nombre_bbdd}",  
                                                auth_plugin = 'mysql_native_password')
                
                mycursor = cnx.cursor()
                
                
                try: 
                        mycursor.execute(query)
                        cnx.commit() 
                
                except mysql.connector.Error as err:
                        print(err)
                        print("Error Code:", err.errno)
                        print("SQLSTATE", err.sqlstate)
                        print("Message", err.msg)


        def check_paises(self):

                """Tercer método. Tiene como objetivo verificar que ya hay países en la tabla antes de insertar.
                No recibe parámetros."""
        
                mydb = mysql.connector.connect(user='root',
                                        password=f"{self.contraseña}",
                                        host='127.0.0.1',
                                        database=f"{self.nombre_bbdd}")
                mycursor = mydb.cursor()

                # query para extraer los valores únicos de ciudades de la tabla de paises 
                query_existe_pais = f"""
                        SELECT DISTINCT nombre_pais FROM paises
                        """
                mycursor.execute(query_existe_pais)
                paises = mycursor.fetchall()
                return paises

        def sacar_id_pais(self, pais):

                """Cuarto método. Sirve para obtener el id de país para poder utilizarlo en la inserción de la segunda tabla,
                donde id pais es FK. Tiene un parámetro, que es de tipo string y correponde con el nombre del país del cual se
                quiere obtener el id."""

                self.pais = pais

                mydb = mysql.connector.connect(user='root',
                                        password= f'{self.contraseña}',
                                        host='127.0.0.1', 
                                        database=f"{self.nombre_bbdd}")
                mycursor = mydb.cursor()
                
                try:
                        query_sacar_id_pais = f"SELECT idestado FROM paises WHERE nombre_pais = '{pais}'"
                        mycursor.execute(query_sacar_id_pais)
                        id_pais = mycursor.fetchall()[0][0]
                        return id_pais
                
                except: 
                        return "Lo sentimos, no tenemos ese país en la BBDD y por lo tanto no te podemos facilitar su id." 


        def sacar_id_universidad(self,nombre_universidad):
                 
                """Quinto método. Sirve para obtener el id de la universidad. Recibe un parámetro: el nombre de la
                universidad, que es de tipo string."""
                 
                self.nombre_universidad = nombre_universidad

                mydb = mysql.connector.connect(user='root', password=f'{self.contraseña}',
                                                host='127.0.0.1', database=f"{self.nombre_bbdd}")
                mycursor = mydb.cursor()

                try:
                        query_sacar_id_uni = f"SELECT iduniversidades FROM universidades WHERE nombre_universidad = '{nombre_universidad}'"
                        mycursor.execute(query_sacar_id_uni)
                        id_uni = mycursor.fetchall()[0][0]
                        return id_uni
                
                except: 
                        return "Lo sentimos, no tenemos esa universidad en la BBDD y por lo tanto no te podemos facilitar su id."

- Introduce los datos en la BBDD de SQL.

In [ ]:
carga = Bbdd("universidades", "AlumnaAdalab")

In [ ]:
for indice, fila in df_final.iterrows():
      
    query_pais = f"""
                INSERT INTO paises (nombre_pais, nombre_provincia, latitud, longitud) 
                VALUES ("{fila["country"]}", "{fila['state_province']}", "{fila['latitude']}","{fila['longitude']}");
                """
    carga.crear_insertar_tabla(query_pais)

In [ ]:
# tabla universidades, pero con idestado_pais

for indice, fila in df_final.iterrows():
    
    id_pais = carga.sacar_id_pais(fila['paises'])

    
    query_universidades = f"""
                INSERT INTO universidades (nombre_universidad, pagina_web, paises_idestado) 
                VALUES ("{fila["name"]}", "{fila['web_pages']}","{id_pais}");
                """
    carga.crear_insertar_tabla(query_universidades)

In [ ]:
# NO HE PODIDO LLEGAR A INSERTAR LOS DATOS YA QUE TENÍA QUE HACER CONVERSIONES DE TIPO DE DATOS PARA ELLO 
# O INCLUSO VOLVER A REHACER LOS PROCESOS CON "UNKNOWN"